body {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 32px;
}

.content {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  width: 740px;
  background-color: #fafafa;
}

.video {
  width: 560px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.video iframe {
  margin-bottom: 32px;
}

.button {
  width: 240px;
  display: flex;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #1650a2;
  border-radius: 4px;
  justify-content: center;
  background-color: white;
  border: 2px solid #1650a2;
}

@media (min-width: 1400px) {
  .content {
    gap: 64px;
    align-items: start;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .video {
    padding-top: 106px;
  }
}
